<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="" width="device-width, initial-scale=1.0">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="cordova.js"></script>

    <script src="js/task.js"></script>
    <script src="js/database.js"></script>
  </head>  
  
  <body ng-app="task" ng-controller="taskCtrl" bgcolor="white">
  
	<!-- header title bar -->
    <ion-header-bar class="bar-assertive">
	<!-- button which shows delete buttons for each task -->
        <h1 class="title">Memo</h1>
    </ion-header-bar>
		  
	<ion-content>
	<form ng-submit="createTask(task)">
			<div class="list">
			  <label class="item item-input">
			   <input type="text" placeholder="Task" ng-model="task.title">
			  </label>
			</div>
			<div class="padding">
			  <button type="submit" class="button button-block button-assertive">Create Task</button>
			</div>
		</form>
	
		<!-- ion-item repeater to show all task.name's-->
		  <ion-item ng-show="tasks.length" ng-repeat="task in tasks" item="task"">
			{{task.task_name}}
			<!-- delete button on item calls delete function and passes task id number -->
		  </ion-item>
		</ion-list>   
    </ion-content> 
    
  </body>

</html>